.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-color-2);
}

.form-heading {
  margin: 5rem 0;
  color: #eee;
}

input,
select {
  width: 25rem;
  font-size: 1rem;
  padding: 0.5rem 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  align-items: center;
}

.input-container {
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  padding: 0 1rem;
  color: #eee;
}

form {
  display: flex;
  flex-direction: column;
}

.form-msg {
  align-self: center;
}

.form-msg p {
  color: rgb(243, 169, 169);
  font-weight: bold;
}

.form-btn {
  align-self: center;
  padding: 4rem 0;
}
