.login-container {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
  background-color: var(--primary-color-2);
  color: #fff;
}

.login-header img {
  width: 5rem;
}

.login-heading {
  padding: 5rem;
}

.login-heading span {
  color: var(--primary-color-1);
}

.login-text a {
  color: var(--primary-color-1);
}
