#testimonial-section {
  background-color: var(--primary-color-2);
}

.testimonial-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 35rem;
  max-width: 70rem;
}

.testimonial-header {
  align-self: center;
  padding: 6rem 0;
  font-size: 1.2rem;
  color: var(--highlight-color-1);
}

.testimonial-display {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8rem;
}
