.menuPage-container {
  min-height: 80vh;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menuPage-image img {
  width: 30rem;
}

.menuPage-btn {
  justify-content: space-between;
  padding: 20px;
}

.menuPage-btn button {
  margin: 0 20px;
}
