.aboutPage-container {
  min-height: 90vh;
  max-width: 80rem;
  margin: 0 auto;
}
.aboutPage-header {
  padding: 2rem 0;
}

.aboutPage-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutPage-text {
  grid-column: 1/2;
  max-width: 30rem;
  align-self: center;
}

.aboutPage-text p {
  line-height: 1.4;
  font-weight: 600;
  padding: 5px 0;
}

.aboutPage-imageContainer {
  grid-column: 2/3;
  align-self: center;
}
.aboutPage-image img {
  width: 40rem;
}

.aboutPage-btn {
  padding-top: 5rem;
}
