.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3.5rem 0;
}

ul {
  display: flex;
}

.navbar-links li {
  font-weight: 600;
}

.navbar-links li:hover {
  color: var(--primary-color-1);
}
