footer {
  background-color: #333;
  min-height: 300px;
}

.footer-container {
  display: grid;
  grid-template-columns: 20% 26.5% 26.5% 27%;
  margin: 0 12rem;
  min-height: inherit;
}

.footer-container ul {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  color: #edefee;
}

.footer-container li {
  padding: 4px 0;
}

.footer-container .heading {
  color: #f4ce14;
  font-weight: 700;
}

.footer-logo {
  grid-column: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 7rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  padding-top: 60px;
}

.footer-contact {
  padding-top: 60px;
}

.footer-social {
  padding-top: 60px;
}
