#hero-section {
  min-height: 25rem;
  background-color: var(--primary-color-2);
  color: var(--highlight-color-1);
  align-self: center;
}

.hero-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  min-height: inherit;
}

.hero-info-container {
  grid-column: 1/2;
  align-self: center;
}

.hero-info-heading {
  color: var(--primary-color-1);
  font-family: "Markazi Text", serif;
}

.hero-info-text {
  font-weight: 500;
  padding: 30px 0;
  max-width: 25rem;
  line-height: 1.4;
}

.hero-image-container {
  grid-column: 2/3;
  position: relative;
}

.hero-img-item img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s;
  position: absolute;
}

.hero-img-item img:hover {
  transform: rotate(4deg);
}
