* {
  padding: 0;
  margin: 0;
}

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
/* font-family: "Markazi Text", serif; */
/* font-family: 'Karla', sans-serif; */

:root {
  /* Colors */
  --primary-color-1: #f4c414;
  --primary-color-2: #495e57;
  --secondary-color-1: #ee9972;
  --secondary-color-2: #fbdabb;
  --highlight-color-1: #edefee;
  --highlight-color-2: #333;

  /* hover button effect */
  --lighten-primary-color: #f3d35f;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

ul {
  list-style-type: none;
}

.navbar a {
  text-decoration: none;
}

.primary-btn {
  background-color: var(--primary-color-1);
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.15) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 32px;
}

.primary-btn:hover {
  background-color: var(--lighten-primary-color);
}

/* Media queries */
@media screen and (max-width: 359px) {

  .navbar,
  .hero-container,
  .menu-container,
  .testimonial-container,
  .about-container,
  .footer-container,
  .aboutPage-container,
  .form-container {
    max-width: 15rem;
  }

  .hero-img-item img {
    display: none;
  }

  .hero-container {
    display: flex;
  }

  .hero-info-text {
    font-size: 0.8rem;
  }

  .primary-btn {
    font-size: 0.8rem;
  }

  .menu-display {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .testimonial-display {
    display: flex;
    flex-direction: column;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
  }

  .about-info-container h1 {
    font-size: 2rem;
  }

  .about-image-container img {
    display: none;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-logo img {
    display: none;
  }

  /* about page */
  .aboutPage-display {
    display: flex;
    flex-direction: column;
  }

  .aboutPage-imageContainer img {
    width: 14rem;
    padding-top: 2rem;
  }

  .aboutPage-btn {
    padding-bottom: 2rem;
  }

  /* Menu page */

  .menuPage-image img {
    width: 16rem;
  }

  .menuPage-btn button {
    margin: 2rem 1rem;
  }

  /* Login page */

  .login-heading h1 {
    font-size: 1rem;
  }

  .login-form input {
    width: 10rem;
  }

  /* booking page */

  input,
  select {
    width: 5rem;
  }

}

@media screen and (min-width: 360px) and (max-width: 767px) {

  .navbar,
  .hero-container,
  .menu-container,
  .testimonial-container,
  .about-container,
  .footer-container,
  .aboutPage-container,
  .form-container {
    max-width: 20rem;
  }

  .hero-container {
    display: flex;
  }

  .hero-img-item img {
    display: none;
  }

  .hero-info-heading {
    font-size: 2rem;
  }

  .hero-info-text {
    font-size: 0.75rem;
  }

  .hero-img-item img {
    width: 10rem;
    height: 8rem;
    top: 8.375rem;
    left: 6.60rem;
  }

  .menu-display {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .testimonial-display {
    display: flex;
    flex-direction: column;
  }

  .about-container {
    padding-top: 3rem;
  }

  .about-info-container h1 {
    font-size: 2rem;
  }

  .about-info-text {
    width: 20rem;
  }

  .footer-logo img {
    display: none;
  }

  .footer-social {
    padding-bottom: 2rem;
  }

  /* about page */
  .aboutPage-imageContainer img {
    width: 20rem;
    padding-top: 2rem;
  }

  .aboutPage-btn {
    padding-bottom: 2rem;
  }

  /* Menu page */

  .menuPage-image img {
    width: 20rem;
  }

  .menuPage-btn {
    justify-content: space-between;
    padding: 20px;
  }

  .menuPage-btn button {
    margin: 0 20px;
  }

  /* login page */
  .login-form input {
    width: 14rem;
  }

  /* booking page */

  input,
  select {
    width: 8rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1160px) {

  .navbar,
  .hero-container,
  .menu-container,
  .testimonial-container,
  .about-container,
  .footer-container,
  .aboutPage-container,
  .form-container {
    max-width: 45rem;
  }

  .nav-container {
    font-size: 0.85rem;
  }

  .navbar-links li {
    padding: 0 10px;
  }

  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero-info-heading {
    font-size: 2rem;
  }

  .hero-info-text {
    font-size: 0.75rem;
  }

  .hero-img-item img {
    width: 16rem;
    height: 18rem;
    top: 8.375rem;
    left: 6.60rem;
  }


  .menu-heading {
    font-size: 1.8rem;
  }

  .about-info-container h1 {
    font-size: 3rem;
  }


  .about-info-subHeading {
    font-size: 0.9rem;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .about-info-heading {
    font-size: 4rem;
  }

  .about-image-container img {
    height: 12rem;
    width: 14rem;
  }

  .about-info-text {
    max-width: 30rem;
    font-size: 0.75rem;
  }

  .footer-nav,
  .footer-contact,
  .footer-social {
    font-size: 0.75rem;
  }

  /* About page */

  .aboutPage-container {
    min-height: 60vh;
  }

  .aboutPage-image img {
    width: 20rem;
  }

  .aboutPage-text {
    max-width: 20rem;
  }

  .aboutPage-text p {
    font-size: 0.75rem;
  }

  .testimonial-display {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8rem;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 20% 26.5% 26.5% 27%;
  }

  /* About page */
  .aboutPage-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .aboutPage-btn {
    padding-bottom: 2rem;
  }

  /* Menu page */

  .menuPage-image img {
    width: 30rem;
  }

  .menuPage-btn {
    justify-content: space-between;
    padding: 20px;
  }

  .menuPage-btn button {
    margin: 0 20px;
  }

  /* booking page */
  input,
  select {
    width: 25rem;
    font-size: 1rem;
    padding: 0.5rem 0;
  }
}

@media screen and (min-width: 1161px) {

  .navbar,
  .hero-container,
  .menu-container,
  .testimonial-container,
  .about-container,
  .footer-container,
  .aboutPage-container,
  .form-container {
    max-width: 70rem;
  }


  .navbar-links li {
    padding: 0 15px;
  }


  .hero-info-heading {
    font-size: 4rem;
  }

  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero-img-item img {
    width: 20rem;
    height: 22rem;
    top: 4.375rem;
    left: 15rem;
  }

  .menu-heading {
    font-size: 3rem;
  }

  .testimonial-display {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8rem;
  }

  .about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  .about-info-heading {
    font-size: 4rem;
  }

  .about-image-container img {
    height: 18rem;
    width: 20rem;
  }

  .about-info-text {
    max-width: 25rem;
  }

  /* About page */
  .aboutPage-container {
    min-height: 90vh;
  }

  .aboutPage-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .aboutPage-image img {
    width: 35rem;
  }

  .aboutPage-text p {
    font-size: 1rem;
  }

  .aboutPage-text {
    max-width: 30rem;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 20% 26.5% 26.5% 27%;
  }

  /* Menu page */

  .menuPage-image img {
    width: 30rem;
  }

  .menuPage-btn {
    justify-content: space-between;
    padding: 20px;
  }

  .menuPage-btn button {
    margin: 0 20px;
  }

  /* booking page */
  input,
  select {
    width: 25rem;
    font-size: 1rem;
    padding: 0.5rem 0;
  }
}
